@model GasStationAttendantCreateViewModel

@section title{
    <h3>Create Gas Station Attendant</h3>
    <p>
        <a asp-action="index" >Back to List</a>
    </p>
}

<form asp-controller="GasStationAttendant" asp-action="create"  method="post">

    <!-- to display error message -->
    <div class="text-danger" asp-validation-summary="All"></div>
    <!-- FirstName -->
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="GasStationAttendant.FirstName" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="GasStationAttendant.FirstName" class="form-control text-capitalize" />
        </div>
        <div class="col">
            <span class="text-bg-danger" asp-validation-for="GasStationAttendant.FirstName"></span>
        </div>
    </div>

    <!-- FamilyName -->
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="GasStationAttendant.FamilyName" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="GasStationAttendant.FamilyName" class="form-control text-uppercase" />
        </div>
        <div class="col">
            <span class="text-bg-danger" asp-validation-for="GasStationAttendant.FamilyName"></span>
        </div>
    </div>

    <!-- Email -->
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="GasStationAttendant.Email" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="GasStationAttendant.Email" class="form-control text-lowercase" />
        </div>
        <div class="col">
            <span class="text-bg-danger" asp-validation-for="GasStationAttendant.Email"></span>
        </div>
    </div>

    <!-- Shift -->
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="GasStationAttendant.Shift" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <select asp-for="GasStationAttendant.Shift" class="form-control" asp-items="Model.Shifts">
                <option value="">-- Select Shift --</option>
            </select>
        </div>
        <div class="col">
            <span class="text-bg-danger" asp-validation-for="GasStationAttendant.Shift"></span>
        </div>
    </div>
    
    <!-- GasStationId -->
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="GasStationAttendant.GasStationId" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <select asp-for="GasStationAttendant.GasStationId" class="form-control" asp-items="Model.GasStations">
                <option value="">-- Select GasStation --</option>
            </select>
        </div>
        <div class="col">
            <span class="text-bg-danger" asp-validation-for="GasStationAttendant.GasStationId"></span>
        </div>
    </div>

    <!-- Add Button -->
    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" value="Add" class="btn btn-primary" /> <input type="reset"  class="btn btn-outline-primary" />
        </div>
        <div class="col-6">
        </div>
    </div>

</form>
